<div class="main-container">
  <app-notification
    title="Help us to Improve the Experience"
    description="In order to provide a better service we would like to collect your data
  for research purpose, you can decline it anytime!"
    image="../assets/images/Social media-cuate.png"
  />
  <app-notification
    title="Get Notified"
    description="Enhance your user experience by ensuring a seamless flow through the activation of notifications."
    image="../assets/images/Social media-pana.png"
  />
  <app-notification
    title="Allow Location Access"
    description="Your company needs it and Personalised recommendations of service providers."
    image="../assets/images/Current location-pana (1).png"
  />
</div>
